<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Staginator: <%= @current_project %></title>

  <!-- Bootstrap -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css">
  <link rel="stylesheet" href="/vendor/highlightjs/solarized_dark.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <style>
    pre {
        border: none!important;
        padding: 0!important;
    }
  </style>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<%= ERB.new(File.read("#{settings.root}/views/navbar.erb"), 0, '-').result(binding) %>

<div class="col-xs-12">
  <div class="page-header">
    <h3>Deploy log for <%= @project_branch %></h3>
  </div>
  <pre><code class="bash hljs"><% @container_logs.each do |line| %><%= line %><% end %></code></pre>
  <h3><a href="/project/<%= @current_project %>">Back</a></h3>
</div>

<%= ERB.new(File.read("#{settings.root}/views/footer.erb"), 0, '-').result(binding) %>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>