<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Staginator: <%= @current_project %></title>

  <!-- Bootstrap -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style>
    .input-group {
      margin-bottom: 10px;
    }

    .input-group-addon {
      min-width: 130px;
      text-align: left;
    }
  </style>
</head>
<body>
<%= ERB.new(File.read("#{settings.root}/views/navbar.erb"), 0, '-').result(binding) %>

<div class="col-xs-12">
  <% if flash[:project_rebuild] %>
      <div class="alert alert-success" role="alert" id="alert_success">
        <strong>In progress.</strong> It will take awhile. You will get notification by email when it be ready.
        <div class="pull-right"><a href="#" id="close_alert_success"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></div>
      </div>
  <% end %>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="/project/<%= @current_project %>">Stagings</a></li>
    <li role="presentation"><a href="/project/<%= @current_project %>/activity">Activity</a></li>
    <li role="presentation" class="active"><a href="/project/<%= @current_project %>/port_forwarding">Port forwarding</a></li>
    <li role="presentation"><a href="/project/<%= @current_project %>/info">Info</a></li>
  </ul>
  <br>
  <div class="col-md-6">
    <form action="/project/<%= @current_project %>/port_forwarding" class="form" method="post">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Container name:</span>
        <select class="form-control" name="project_branch">
          <% @project_branches.each do |p| %>
              <% if p['state'].include?('Up') %>
                  <option value="<%= p["name"] %>"><%= p["name"] %>.<%=@current_project%>.<%= @stag_prefix %></option>
              <% end %>
          <% end %>
        </select>
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon2">Container port:</span>
        <input type="text" id="container-port-input" class="form-control" aria-describedby="basic-addon2" name="container_port">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Host port:</span>
        <input type="text" id="host-port-input" class="form-control" aria-describedby="basic-addon3" name="host_port" disabled value="Will be selected randomly">
        <div class="input-group-btn">
          <button type="button" id="edit-port-input" class="btn btn-default" aria-label="Help" onclick="manual_port_specify_activate()"><span class="glyphicon glyphicon-pencil"></span></button>
        </div>
      </div>
      <hr>
      <button type="submit" class="btn btn-success" style="float: right;">Save</button>
    </form>
  </div>
</div>
<%= ERB.new(File.read("#{settings.root}/views/footer.erb"), 0, '-').result(binding) %>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script>
  function manual_port_specify_activate() {
    var port_input = $('#host-port-input');
    port_input.prop('disabled', false);
    port_input.val('');
    port_input.prop('placeholder', 'must be greater than 10000');
    port_input.focus();
    $('#edit-port-input').hide();
  }

  $(document).ready(function () {
    //called when key is pressed in textbox
    $("#host-port-input").keypress(function (e) {
      //if the letter is not digit then display error and don't type anything
      if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        return false;
      }
    });
    $("#container-port-input").keypress(function (e) {
      //if the letter is not digit then display error and don't type anything
      if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        return false;
      }
    });
  });

  $('#host-port-input').on('input', function () {
    var $item = $(this),
        value = $item.val();
    $item.css("color", "black");
    if (value > 10000) {
      $.get("/check_port/" + value, function(data, status){
        if (data == 'free') {
          $item.css("color", "green");
        } else {
          $item.css("color", "red");
        }
      });
    }
  });
</script>
</body>
</html>
